*{
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    flex: 1;
    gap: 16px;
}

.background {
    flex: 0 2 30vw;
    width: 10%;
    position: relative;
}

#filler {
    
    width: 100%;
    height: 100vh;
}

.form-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 3rem;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    
}

.form-area section {
    height: 33%;
}

.overlay {
    z-index: 2;
    position: absolute;
    left: 35%;
    top: 45vh;
}